@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-primary text-color4
}



body {
  
  min-height: 100vh;
}

h1,h2,h3 {
  @apply font-bold 
}
h1{font-size:larger}
h2{font-size:large}
h3{font-size:medium}

button {
  transition: border-color 0.25s;
  @apply px-4 !bg-secondary border text-color4 border-secondary rounded-lg m-1 hover:bg-color3 hover:border-color4
  
}
a{
 @apply font-bold border-b border-b-secondary/0 hover:border-b-secondary
}

input, select, textarea{
  @apply border border-secondary rounded-md px-2 m-1 text-primary
}

.tabla{
  @apply w-full
}
.tabla td{
  @apply p-1
}
/*color de background para las filas impares*/
.tabla thead tr{
  @apply bg-black
}
.tabla tbody tr:nth-child(odd){ /*odd - even  */
  @apply bg-black/20
}

.menu li{
  @apply px-4 cursor-pointer hover:text-secondary 
}

.menu .active{
  @apply font-bold bg-black/20
}
.label{
  @apply text-color3 text-sm
}

.image-slider{
  @apply w-full h-[40vw] overflow-hidden
}
.image-slider img{
  @apply w-full
}

